@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.presentation
{
    font-family: 'Lobster', cursive;
  font-size: 2rem;
  color: var(--fontColor);
  text-align: center;

  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hi{
    color:var(--firstColor)
}

.description
{
    background: var(--fontColor);
    width: 100%;
    height: 30vh;
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.description>h1{
    margin: 0;
}