.container
{
    
    font-size: 2rem;
    font-family: 'Cairo', sans-serif;
    color: var(--fontColor);
    margin: 0 auto;
}
.margin
{
    margin-left: 2.5rem;
}

.children
{
    position: relative;
    display: block;
}

.not_expanded
{
    display: none;
}

.line
{
    position: absolute;
    width: 2px;
    height: 100%;
    background: var(--fontColor);
    margin-left: calc(5px + 0.6rem);
}

.container_skill
{
    display: flex;
    width: 100%;
    line-height: calc(2.2rem);
    
   
}

.icon_expanded
{
    margin: auto 5px;
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: 100ms ease-in-out;
    -webkit-transition: 100ms ease-in-out;
    -moz-transition: 100ms ease-in-out;
    -ms-transition: 100ms ease-in-out;
    -o-transition: 100ms ease-in-out;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.margin_expand_icon
{
    margin-left: calc(1.2rem + 10px);
}

.icon_expanded:hover
{
    background: rgba(128, 128, 128, 0.486);
}

.skill
{
    box-shadow: 0px 0px 2px 0px gray;
    margin: 5px;
    padding: 5px;
    color: var(--fontColor);
    display: flex;
    border: solid 2px var(--firstColor);
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.imag
{
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 0.8vw;
    margin-top: 0.3rem;
    position: relative;
}

.skill:hover
{
    background: #91e9d0;
}

.plus
{
    position: absolute;
    left: calc(50% - 2px);
    height: 100%;
    width: 4px;
    background: var(--firstColor);
}

.minus{
    height: 4px;
    width: 100%;
    background: var(--firstColor);
}